.input--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--primary-200);
  height: 2.5rem;
  padding: 0px 1rem;
  width: 26rem;
  border-radius: 6px;

  input {
    border: none;
    height: 100%;
    outline: none;
    flex: 1;
    &::placeholder {
      color: var(--primary-500);
    }
  }
}

.input--icon {
  color: var(--primary-600);
}
