html.light {
  --primary-100: var(--primary-100-light);
  --primary-200: var(--primary-200-light);
  --primary-300: var(--primary-300-light);
  --primary-400: var(--primary-400-light);
  --primary-500: var(--primary-500-light);
  --primary-600: var(--primary-600-light);
  --primary-700: var(--primary-700-light);
  --primary-800: var(--primary-800-light);
  --primary-900: var(--primary-900-light);
  --primary: var(--primary-light);

  color-scheme: light;
  background-color: #ffffff;
}

html.dark {
  --primary-100: var(--primary-100-dark);
  --primary-200: var(--primary-200-dark);
  --primary-300: var(--primary-300-dark);
  --primary-400: var(--primary-400-dark);
  --primary-500: var(--primary-500-dark);
  --primary-600: var(--primary-600-dark);
  --primary-700: var(--primary-700-dark);
  --primary-800: var(--primary-800-dark);
  --primary-900: var(--primary-900-dark);
  --primary: var(--primary-dark);

  background-color: #000000;
  color-scheme: dark;

}

.htmlcontainer {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

