:root {
  --primary-50-light: #f8fafc;
  --primary-100-light: #f1f5f9;
  --primary-200-light: #e2e8f0;
  --primary-300-light: #cbd5e1;
  --primary-400-light: #94a3b8;
  --primary-500-light: #64748b;
  --primary-600-light: #475569;
  --primary-700-light: #334155;
  --primary-800-light: #1e293b;
  --primary-900-light: #0f172a;
  --primary-950-light: #0f172a;

  --primary-100-dark: #09090b;
  --primary-200-dark: #27272a;
  --primary-300-dark: #3f3f46;
  --primary-400-dark: #52525b;
  --primary-500-dark: #71717a;
  --primary-600-dark: #a1a1aa;
  --primary-700-dark: #d4d4d8;
  --primary-800-dark: #e4e4e7;
  --primary-900-dark: #f4f4f5;
  --primary-dark: #fafafa;
}

.container.light {
  --primary-50: var(--primary-50-light);
  --primary-100: var(--primary-100-light);
  --primary-200: var(--primary-200-light);
  --primary-300: var(--primary-300-light);
  --primary-400: var(--primary-400-light);
  --primary-500: var(--primary-500-light);
  --primary-600: var(--primary-600-light);
  --primary-700: var(--primary-700-light);
  --primary-800: var(--primary-800-light);
  --primary-900: var(--primary-900-light);
  --primary-950: var(--primary-950-light);

  background-color: #fff;
  color-scheme: light;
}
.container.dark {
  --primary-100: var(--primary-100-dark);
  --primary-200: var(--primary-200-dark);
  --primary-300: var(--primary-300-dark);
  --primary-400: var(--primary-400-dark);
  --primary-500: var(--primary-500-dark);
  --primary-600: var(--primary-600-dark);
  --primary-700: var(--primary-700-dark);
  --primary-800: var(--primary-800-dark);
  --primary-900: var(--primary-900-dark);
  --primary: var(--primary-dark);

  background-color: #000;
  color-scheme: dark;
}
